{% extends "base.html" %}
{% load static %}

{% block page_title %}
    <h3>All Posts</h3>
{% endblock page_title %}

{% block page_content %}
    {% for post in page_obj %}
        <h3><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
        <small>{{ post.date_posted.date }} | 
            <a href="{% url 'blog_theme' post.theme.name %}">{{ post.theme.name }}</a>
        </small>
        {% if post.image %}
            <img src="{{ post.image.url }}">
        {% else %}
            <img src="{% static 'images/default.jpg' %}">
        {% endif %}
        <p>{{ post.content|truncatewords:80 }}</p>
    {% endfor %}

    <nav>
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_previous %}
            <a href="?page=1">« First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last »</a>
        {% endif %}
    </nav>

{% endblock page_content %}