
{% extends "base.html" %}
{% load static %}
{% block page_title %}
    <h2>{{ theme }}</h2>
{% endblock page_title %}
{% block page_content %}
    {% for post in posts %}
        <div class="recent-card">
            {% if post.image %}
                <img src="{{ post.image.url }}">
            {% else %}
                <img src="{% static 'images/default.jpg' %}">
            {% endif %}
            <small><a href="{% url 'blog_theme' post.theme.name %}">{{ post.theme.name }}</a> | {{ post.date_posted.date }}</small>
            <h3><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
            <p>{{ post.content|truncatewords:80 }}</p>
        </div>
    {% endfor %}
{% endblock page_content %}